<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}

<!-- Umami Analytics-->
{% block libs %}
<script async defer data-website-id="5aee5ae7-ef24-4691-a9f5-31f37b056bac" src="https://umami-production-yztf.up.railway.app/umami.js"></script>
{% endblock %}

<!-- Announcement bar -->
{% block announce %}
  <style>.md-announce a,.md-announce a:focus,.md-announce a:hover{color:currentColor}.md-announce strong{white-space:nowrap}.md-announce .twitter{margin-left:.2em;color:#00acee}</style>
    <a href="https://github.com/mathewthe2/Game2Text/releases"><strong>New in 0.4.9: Dictionaries! Recently added: Japanese to Japanese Dictionaries 🎉! See the release notes and update!</strong>
    </a>
{% endblock %}

<!-- More minimal footer -->
{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-footer-copyright">
                {% if config.copyright %}
                <div class="md-footer-copyright__highlight">
                    {{ config.copyright }}
                </div>
                {% endif %}
                Developed by
                <a href="https://yui.bio.link/" title="Mathew Chan">Mathew Chan</a>
            </div>
            {% block social %}
            {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}
